@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

body {
  height: 100%;

  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  font-size: large;

  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(50ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.content > * {
  grid-column: content;
  padding: 1rem;
  border-radius: clamp(0.5rem, 1vw, 1rem);
}

.popout {
  grid-column: popout;
  background-color: var(--card-background-color);
}

.feature {
  grid-column: feature;
  color: var(--background-color);
  background-color: var(--primary-accent-color);
}

.full {
  grid-column: full;
}
